@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Faces */
@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
}

:root {
  --clr-black-primary: #000000;
  --clr-dark-primary: #383838;
  --clr-dark-secondary: #2c2c2c;
  --clr-dark-teritary: #1c1c1c;
  --clr-white-primary: #ffffff;
  --clr-white-secondary: #ffffff79;
  --clr-white-teritary: #ffffff88;
  --clr-gray-primary: #808080;
  --clr-gray-secondary: #707070;
  --clr-gray-teritary: #bababa;
  --clr-purple-primary: #7a3bff;
  --clr-purple-secondary: #ad4eff;
  --clr-purple-teritary: #8900ff;
  --clr-purple-strong: #3d2e5d;
  --clr-pink-primary: #8900ff60;
  --clr-pink-secondary: #7a3bff6f;
  --clr-lightblue-primary: #05ace753;
  --clr-lightblue-secondary: #05ace781;
  --clr-lightblue-teritary: #05ace73e;
  --clr-blue-primary: #05ace7;
  --clr-blue-secondary: #00a8e2;
  --clr-blue-teritary: #00beff;
  --color-error: #ef4444;
}

/* Global Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* CSS Variables */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.block-section {
  opacity: 1;
  border: 2px solid #05ace73e;
  background: rgba(5, 172, 231, 0.045);
  backdrop-filter: blur(33px);
  -webkit-backdrop-filter: blur(33px);
}

/* Start Buttons Containers Styling */
.find-out-btn-container {
  background: transparent linear-gradient(90deg, #000000 0%, #3d2e5d 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 1px 5px #ffffff88;
  border: 1px solid #7a3bff;
  border-radius: 31px;
  opacity: 1;
}
.review-btn-container {
  background: transparent
    linear-gradient(254deg, #00a8e2 0%, #00beff 23%, #ffffff 100%) 0% 0%
    no-repeat;
  opacity: 1;
}
/* End Buttons Containers Styling */

.gradient-hero-text {
  background: transparent linear-gradient(75deg, #ffffff 0%, #808080 100%) 0% 0%
    no-repeat padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 1;
}

.recive-cta {
  background: transparent
    linear-gradient(249deg, #7a3bff 0%, #7a3bff 19%, #ad4eff 100%) 0% 0%
    no-repeat;
  box-shadow: 0px 1px 15px #ffffff79;
  border-radius: 6px;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  text-align: center;
}

.footer-btn-cnt {
  background: transparent
    linear-gradient(254deg, #00a8e2 0%, #00beff 75%, #ffffff 100%) 0% 0%
    no-repeat;
  opacity: 1;
}

.footer-logo {
  background-image: url("@/assets/images/logoFooterMobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  max-width: 246px;
  max-height: 46px;
}

.hiringBox {
  width: 16px;
  height: 16px;
  background-color: gray;
  border: 2px solid #000;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(5, 172, 231, 0.4);
  margin-inline: auto;
  aspect-ratio: 16/9;
  padding: 2rem;
}

.video-container {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: black;
  position: relative;
  border-radius: 20px;
  border: 0.3px solid #8900ff;
  box-shadow: 0 0 60px 10px rgba(5, 172, 231, 0.4);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-image: linear-gradient(black, black),
    linear-gradient(45deg, #8900ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button {
  background-image: url("@/assets/icons/PlayButton.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 85px;
  height: 85px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-video {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  height: 100%;
  border-radius: 20px;
  z-index: 2;
  position: relative;
}

.desk-rev-btn {
  background: transparent
    linear-gradient(240deg, #00a8e2 0%, #00beff 63%, #ffffff 134%) 0% 0%
    no-repeat;
}
.dialog-text {
  background-color: black;
  margin-inline: auto;
  text-align: center;
}
.dialog-text > * {
  color: white;
}
.box-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

@media (max-width: 768px) {
  .scroll-right-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }

  .scroll-right-content {
    display: flex;
    width: max-content;
    gap: 2rem;
    scroll-behavior: smooth;
    animation: scroll-right-animation 4s linear infinite;
  }

  .scroll-right-image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  @keyframes scroll-right-animation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - 2rem));
    }
  }
}

.infinite-scroll-container {
  overflow-y: hidden;
  scroll-behavior: smooth;
  text-align: justify;
  max-width: 85%;
  max-height: 38rem;
  margin-inline: auto;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
}

.scroll-shadow-top {
  width: 100%;
  height: 6rem;
  position: absolute;
  z-index: 40;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.scroll-shadow-bottom {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.scroll-shadow-bottom::after {
  width: 100%;
  height: 2rem;
  content: "";
  position: absolute;
  z-index: 40;
  bottom: 0;
  border: 250px solid yellow;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.scroll-track {
  display: flex;
  flex-direction: column;
  animation: scroll-track-animation 200s linear infinite;
}

.scroll-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  height: 100%;
}

@keyframes scroll-track-animation {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.btm-shadow::before {
  width: 100%;
  height: 100%;
  position: relative;
}
.btm-shadow {
  width: 100%;
  position: absolute;
  bottom: 0rem;
  height: 6rem;
  z-index: 40;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* .mm {
  width: 100%;
  height: 330px; 
  background-image: url("@/assets/images/BorderTwo.png");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position: center;
  object-fit: fill;
} */
.header-with-border {
  position: relative;
  background-color: #000;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.header-with-border::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 60px;
  background-image: url("@/assets/images/BorderTwo.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.tryness {
  margin-top: 0;
  height: 20px;
  max-height: 20px;
  border-width: 70px; /* Set the width of the border */
  border-style: solid; /* Required to render the border */
  border-image-source: url("@/assets/images/lightBlueDesk.png");
  border-image-slice: 30 fill; /* Slice the image and fill the center */
  border-image-width: 15px; /* Set the image width across the full border width */
  border-image-repeat: stretch; /* Stretch the image to fit the entire width and height */
  width: 100%; /* The container width is 100% */
  /* transform: translateY(-25%); */
  position: sticky;
  top: 0;
  display: flex;
}
