@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Faces */
@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-display: swap;
}

:root {
  --clr-black-primary: #000000;
  --clr-dark-primary: #383838;
  --clr-dark-secondary: #2c2c2c;
  --clr-dark-teritary: #1c1c1c;
  --clr-white-primary: #ffffff;
  --clr-white-secondary: #ffffff79;
  --clr-white-teritary: #ffffff88;
  --clr-gray-primary: #808080;
  --clr-gray-secondary: #707070;
  --clr-gray-teritary: #bababa;
  --clr-purple-primary: #7a3bff;
  --clr-purple-secondary: #ad4eff;
  --clr-purple-teritary: #8900ff;
  --clr-purple-strong: #3d2e5d;
  --clr-pink-primary: #8900ff60;
  --clr-pink-secondary: #7a3bff6f;
  --clr-lightblue-primary: #05ace753;
  --clr-lightblue-secondary: #05ace781;
  --clr-lightblue-teritary: #05ace73e;
  --clr-blue-primary: #05ace7;
  --clr-blue-secondary: #00a8e2;
  --clr-blue-teritary: #00beff;
  --color-error: #ef4444;
}

/* Global Resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS Variables */

html,
body {
  background-color: black;
  overscroll-behavior: hidden;

  width: 100%;
}

body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root {
  display: flex;
  flex-direction: column; /* Stack header, content, and footer vertically */
  height: 100%; /* Full height of the viewport */
  width: 100%;
  -webkit-overflow-scrolling: touch; /* גלילה חלקה ב-iOS */
}
.block-section {
  opacity: 1;
  border: 2px solid #05ace73e;
  background: rgba(5, 172, 231, 0.045);
  backdrop-filter: blur(33px);
  -webkit-backdrop-filter: blur(33px);
}

.find-out-btn-container {
  background: transparent linear-gradient(90deg, #000000 0%, #3d2e5d 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 1px 5px #ffffff88;
  border: 1px solid #7a3bff;
  border-radius: 31px;
  opacity: 1;
}
.review-btn-container {
  background: transparent
    linear-gradient(254deg, #00a8e2 0%, #00beff 23%, #ffffff 100%) 0% 0%
    no-repeat;
  opacity: 1;
}

.gradient-hero-text {
  background: transparent linear-gradient(75deg, #ffffff 0%, #808080 100%) 0% 0%
    no-repeat padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 1;
}

.recive-cta {
  background: transparent
    linear-gradient(249deg, #7a3bff 0%, #7a3bff 19%, #ad4eff 100%) 0% 0%
    no-repeat;
  box-shadow: 0px 1px 15px #ffffff79;
  border-radius: 6px;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  text-align: center;
}
@media (max-width: 670px) {
  .recive-cta {
    max-width: 192px;
  }
}

.footer-btn-cnt {
  background: transparent
    linear-gradient(254deg, #00a8e2 0%, #00beff 75%, #ffffff 100%) 0% 0%
    no-repeat;
  opacity: 1;
}

.footer-logo {
  background-image: url("@/assets/images/logoFooterMobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  max-width: 246px;
  max-height: 46px;
}

.hiringBox {
  width: 16px;
  height: 16px;
  background-color: gray;
  border: 2px solid #000;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(5, 172, 231, 0.4);
  margin-inline: auto;
  aspect-ratio: 16/9;
  padding: 2rem;
}

.video-container {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: black;
  position: relative;
  border-radius: 20px;
  border: 0.3px solid #8900ff;
  box-shadow: 0 0 60px 10px rgba(5, 172, 231, 0.4);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-image: linear-gradient(black, black),
    linear-gradient(45deg, #8900ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button {
  width: 85px;
  height: 85px;
  background-image: url("@/assets/icons/PlayButton.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-video {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  height: 100%;
  border-radius: 20px;
  z-index: 2;
  position: relative;
}

.desk-rev-btn {
  background: transparent
    linear-gradient(240deg, #00a8e2 0%, #00beff 40.5%, #ffffff 128%) 0% 0%
    no-repeat padding-box;
}
.dialog-text {
  background-color: black;
  margin-inline: auto;
  text-align: center;
}
.dialog-text > * {
  color: white;
}
.box-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}
.scroll-right-content {
  filter: grayscale(100%);
}

@media (max-width: 768px) {
  .scroll-right-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }

  .scroll-right-content {
    display: flex;
    width: max-content;
    gap: 2rem;
    scroll-behavior: smooth;

    animation: scroll-right-animation 10s linear infinite;
  }

  .scroll-right-image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  @keyframes scroll-right-animation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - 2rem));
    }
  }
}

.infinite-scroll-container {
  overflow-y: hidden;
  scroll-behavior: smooth;
  text-align: justify;
  max-width: 85%;
  max-height: 38rem;
  margin-inline: auto;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
}

.scroll-shadow-top {
  width: 100%;
  height: 6rem;
  position: absolute;
  z-index: 40;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.scroll-shadow-bottom {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.scroll-shadow-bottom::after {
  width: 100%;
  height: 2rem;
  content: "";
  position: absolute;
  z-index: 40;
  bottom: 0;
  border: 250px solid yellow;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.scroll-track {
  display: flex;
  flex-direction: column;
  animation: scroll-track-animation 400s linear infinite;
}

.scroll-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  height: 100%;
}

@keyframes scroll-track-animation {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.btm-shadow::before {
  width: 100%;
  height: 100%;
  position: relative;
}
.btm-shadow {
  width: 100%;
  position: absolute;
  bottom: 0rem;
  height: 6rem;
  z-index: 40;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header-with-border {
  position: relative;
  background-color: #000;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.header-with-border::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 60px;
  background-image: url("@/assets/images/BorderTwo.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.form-header {
  text-align: center;
  color: white;
}

.choice-fix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-form {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-size: 0.9375rem;
  max-width: 15.75rem;
  max-height: 2.315625rem;
  width: 15.75rem;
  color: white;
  text-align: center;
  margin-inline: auto;
  background: transparent
    linear-gradient(249deg, #7a3bff 0%, #7a3bff 19%, #ad4eff 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 6px;
  box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.381);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
@media (max-width: 760px) {
  .btn-form {
    max-width: 15.6875rem;
  }
}
.btn-send {
  background: transparent
    linear-gradient(246deg, #82bc8b 0%, #8cc695 23%, #aed5b4 96%, #ffffff 100%)
    0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  padding-inline: 0.5rem;
  padding-block: 0.7rem;
  width: 100%;
  max-width: 15.75rem;
  margin-inline: auto;
  color: white;
  font-size: 1.1rem;
}

.blue-gradient {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-size: 0.9375rem;
  max-width: 15.75rem;
  width: 15.75rem;
  color: white;
  text-align: center;
  margin-inline: auto;
  background: transparent
    linear-gradient(249deg, #00a8e2 0%, #00beff 23%, #ffffff 130%) 0% 0%
    no-repeat padding-box;
  border-radius: 6px;
  box-shadow: 0px 1px 12px #ffffff79;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
@media (max-width: 400px) {
  .blue-gradient {
    width: 100% !important;
    padding-inline: 2rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wrap-form-box {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.tab {
  padding-inline: 1rem;
  border-radius: 1rem;
  background-color: #1e1e1e; /* Default background for tabs */
  color: #fff;
  width: 6.625rem;
  max-width: 6.625rem;
  font-size: 0.8125rem;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}
.form-group {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
.tab-active {
  font-size: 13px;
  background: transparent linear-gradient(180deg, #7a3bff 0%, #3d1e80 100%) 0%
    0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 1;
}

.tab-completed {
  background: #000000 0% 0% no-repeat padding-box;
  border: 0.5px solid #292929;
  border-radius: 10px;
  opacity: 1;
  color: #383838;
}

.purple-background {
  background: #7a3bff;
  border-radius: 6px;
  opacity: 1;
}

/* Existing styles with added focus animations */
.url-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #7a3bff8b;
  background-color: black;
  max-width: 15.75rem;
  margin-inline: auto;
  color: #fff;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.url-input::placeholder {
  color: #ffffff;
  opacity: 0.25;
}

.url-input:active {
  background-color: black;
}

.url-input:focus {
  outline: none;
  background-color: black !important;
  /* transform: scale(1.01); */
  box-shadow: 0 0 8px rgba(122, 59, 255, 0.6); /* Purple glowing effect */
  max-width: 15.75rem; /* Keep this to prevent overflow */
}
/* Rest of your existing styles unchanged */
#marketing-communications {
  accent-color: #c9c9c9;
}

.error-input {
  border-color: red;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out; /* טרנזישן נוסף על ה-error */
  opacity: 1;
}

.error-text {
  color: #b70000;
  text-align: center;
}

.form-checkbox input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

.form-checkbox .checkmark {
  width: 15px; /* Slightly larger size */
  height: 14px; /* Slightly larger size */
  background-color: #4a4a4a; /* Default gray background */
  border-radius: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Darker background color when checked */
.form-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #2a2a2a; /* Darker gray when checked */
}

/* Create the checkmark */
.form-checkbox .checkmark::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 14px;
  background-size: cover;
  background-image: url("@/assets/icons/newCheckMark.svg");
  display: none;
}

/* Show the new image when the checkbox is checked */
.form-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
  background-image: url("@/assets/icons/newCheckMark.svg");
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Hover effect */
.form-checkbox .checkmark:hover {
  background-color: #5a5a5a; /* Slightly lighter gray on hover */
}
.darken-lb {
  height: 3rem;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("@/assets/images/BorderTwo.png");
  position: relative;
  border-radius: 8px;
  /* overflow: hidden; */
}
@media (min-width: 635px) {
  .darken-lb {
    height: 6rem;
  }
}

@media (min-width: 1280px) {
  .darken-lb {
    overflow-y: hidden;
    border: none;
  }

  .hero-boster {
    font-size: 72px;
  }
  .hero-solution {
    font-size: 55px;
  }
}

.newPurple {
  background: transparent linear-gradient(180deg, #7a3bff 0%, #3d1e80 100%) 0%
    0% no-repeat padding-box;
  border-radius: 9px;
}

.step-container {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Increase timing slightly */
  width: 100%;
}

.step {
  min-width: 100%;
  flex-shrink: 0;
  transition: opacity 0.5s ease-in-out; /* Match the timing with container */
}

.step-active {
  opacity: 1;
}

.step:not(.step-active) {
  opacity: 0;
}

.contact-us-border {
  background: #00151c;
  border-radius: 23px;
  border: 1px solid #7a3bff8b;
  box-shadow: 0px 3px 6px #8900ffa2;
}

.contact-us-border.rounded-t-md {
  border-bottom: none;
}

.options-contact {
  border-radius: 24px;
  border-top: none;
}

.customated {
  border-radius: 24px;
}
.bt-none {
  border-top: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.add-border {
  border-radius: 23px;
  border: 1px solid #7a3bff8b;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px 3px 6px #8900ffa2;
}

.options-bordering {
  border-color: rgba(255, 255, 255, 0.25);
  padding-block: 15px;
}

@media (min-width: 625px) {
  .contact-page-content {
    margin-block: 3rem;
  }
}

.no-focus-outline:focus {
  outline: none;
}
